{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier"],
  "overrides": [],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "import/prefer-default-export": 2,
    "linebreak-style": 0,
    "no-console": 0,
    "no-unused-vars": 2,
    "no-undef": 2,
    "arrow-parens": 0,
    "jsx-a11y/label-has-associated-control": 0
  }
}
