.root {
  height: 200px;
  background-color: #000000;
  display: flex;
  position: relative;
  margin-top: auto;
  margin-bottom: 0px;
}

.logo {
  width: 150px;
  height: 150px;
  margin-top: auto;
  margin-bottom: auto;
}

.txt {
  width: 1000px;
  margin: auto;
  color: #ffffff;
  font-family: 'montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
  p {
    span {
      font-weight: 300;
    }
  }
}
.icons {
  margin-left: auto;
  margin-right: 30px;

  margin-top: auto;
  margin-bottom: auto;
}

.address {
  font-family: 'montserrat', sans-serif;
  color: #ffffff;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  p {
    margin-bottom: 0px;
    margin-top: 5px;
  }
}

@media (max-width: 1300px) {
  .txt {
    font-size: 10px;
  }
  .icons {
    margin-left: auto;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;

    & svg {
      width: 30px;
    }
  }

  .address {
    font-family: 'montserrat', sans-serif;
    font-size: 10px;
    color: #ffffff;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    p {
      margin-bottom: 0px;
      margin-top: 5px;
    }
  }
}

@media (max-width: 768px) {
  .root {
    background-color: #000000;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .txt {
    width: 300px;
    text-align: center;
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .icons {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      width: 30px;
    }
  }

  .address {
    margin: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
}
