.sigInBcgr {
  background-image: url(../../.././public/logInBcgr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7% 0px;
}

.btnSigIn {
  margin-top: auto;
  margin-bottom: auto;
}

.sigInPage {
  width: 350px;
  padding: 30px;
  border: 1px solid #dedede;
  margin: 50px auto;
  text-align: center;

  
  form {
    padding-top: 20px;

    button {
      margin-bottom: 40px;
    }
  }
}

.field {
  margin-bottom: 30px !important;

  p {
    margin-bottom: -23px !important;
  }
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.errors {
  text-align: center;
  padding: 1px;
  background-color: #b40000;
  color: #ffffff;
  margin-bottom: 5px;
  border-radius: 3px;
  font-weight: 600;
}

.errors_none {
  display: none;
}
