.videoSec {
  min-width: 100%;
  height: 560px;
  background-color: #000000;
  overflow: hidden;
  text-align: center;
  padding-top: 60px;
}

h3 {
  color: #ffffff;
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  font-size: 35px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  position: relative;

  form {
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.video {
  width: 100%;
  height: 350px;

  video {
    width: 100%;
    height: 100%;
    margin-top: 70px;
  }
}

.link {
  text-decoration: none;
}

@media (max-width: 1300px) {
  h3 {
    font-size: 25px;
  }

  .video {
    width: 100%;
    height: 350px;

    video {
      width: 100%;
      height: 100%;
      margin-top: 90px;
    }
  }
}

@media (max-width: 768px) {
  .videoSec {
    height: 460px;
  }

  h3 {
    font-size: 25px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .video {
    width: 100%;
    height: 150px;

    video {
      width: 100%;
      height: 100%;
      margin-top: 140px;
    }
  }
}
