.root {
  display: flex;
}

.link {
  text-decoration: none;
  width: 100%;
}

.rootMob {
  margin-left: auto;
  margin-right: 20px;
}

@media (max-width: 1300px) {
  .mainRoot {
    margin-left: auto;
    margin-right: 0;
  }
}
