.card {
  display: flex;
  width: 1200px;
  height: 600px;
  background-color: #ffffff;
  padding: 30px;
  margin-top: 100px;
  margin-bottom: 20px;
  .cardMedia {
    height: 400px;
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-left: 15px;
    width: 100%;
    height: 100%;
    .typography {
      display: flex;
      font-family: 'montserrat', sans-serif;
      display: flex;
      flex-direction: column;
      span {
        font-weight: 600;
        font-size: 25px;
        background-color: #ffffff;
        color: #000000;
        padding: 10px;
        margin-right: auto;
        margin-bottom: 10px;
      }

      & span:last-child {
        font-size: 35px;
        font-weight: 800;
      }

      & span:first-child {
        border-bottom: 1px solid #000000;
        text-transform: uppercase;
      }
    }

    .cardDescrip {
      display: flex;
      flex-direction: column;
      width: 100%;
      color: #000000;

      span {
        background-color: #ffffff;
        padding: 10px;
        border-radius: 4px;
        font-size: 18px;
        margin-right: auto;
        margin-bottom: 10px;
      }
    }

    .cardIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: auto;
      margin-bottom: 0px;

      a {
        text-decoration: none;
        color: #000000;
      }

      .cardFavButton {
        margin-left: auto;
        margin-right: 10px;
        background-color: #ffffff00;
        border: 0;
        cursor: pointer;
      }
    }
  }
}

.cardSkeleton {
  padding: 15px;
  height: 520px;
  background-color: #ffffff;

  .cardContentSkeleton {
    display: flex;
  }
  .cardContentSkeleton span:last-child {
    margin-left: auto;
    margin-right: 0px;
  }
  .cardButtonSkeleton {
    display: flex;
  }

  .cardButtonSkeleton span:last-child {
    margin-left: auto;
    margin-right: 0px;
  }
}

@media (max-width: 1300px) {
  .card {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    margin-top: 50px;

    .cardContent {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      margin-left: 15px;
      width: 100%;
      height: 100%;
      .typography {
        span {
          font-size: 20px;
        }

        & span:last-child {
          font-size: 20px;
          font-weight: 600;
        }

      }

      .cardDescrip {
        span {
          padding: 5px;
          font-size: 18px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
