.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 5px;
  max-width: 410px;
  margin-right: 15px;

  .items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 5px;

    .image {
      max-width: 150px;
      object-fit: cover;
      overflow: hidden;

      .image > img {
        max-width: 150px;
        min-width: 150px;
      }
    }

    .position {
      display: flex;
      flex-direction: column;

      .info {
        padding: 5px;

        .name {
          font-weight: 600;
          font-size: 14px;
          text-transform: uppercase;
          margin: 0;
          padding: 5px 2px;

          @media (max-width: 375px) {
            & {
              font-size: 13px;
            }
          }
        }

        .price {
          padding: 5px 5px;
          margin: 0;
        }
      }
    }
  }

  .button {
    height: 30px;
    min-width: 0;
    width: 30px;
    background-color: black;
    color: white;
  }

  .buttonsNone {
    display: none;
  }

  .item {
    padding: 0 10px;
    margin: 0;
  }

  .quantity {
    display: inline-block;
  }

  .quantityNone {
    display: none;
  }

  .itemNone {
    display: none;
  }

  .buttons {
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .location,
  .delete {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
  }
}
