.mainLink {
  text-decoration: none;
  color: #000000;
}

.card {
  .cardMedia {
    height: 100%;
  }

  .cardContent {
    .typography {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'montserrat', sans-serif;

      span {
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
      }
    }

    .typography span:last-child {
      margin-left: auto;
      margin-right: 0px;
      margin-bottom: 3px;
    }

    .typography span:first-child {
      width: 100%;
      padding-right: 20px;
      min-height: 42px;
      overflow-x: scroll;
    }

    .typography span:first-child::-webkit-scrollbar {
      height: 3px;
      width: 2px; /* ширина */
      background-color: #ffffff; /* цвет фона */
      cursor: pointer;
    }

    /* Стили для полосы прокрутки */
    .typography span:first-child::-webkit-scrollbar-thumb {
      background-color: #e3e3e3; /* цвет */
      height: 2px;
      border-radius: 2px; /* радиус границы */
      cursor: pointer;
    }

    /* Стили для кнопки прокрутки */
    .typography span:first-child::-webkit-scrollbar-button {
      background-color: #fff; /* цвет */
      display: none; /* скрыть кнопку */
      cursor: pointer;
    }

    .cardIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      a {
        text-decoration: none;
        color: #000000;
      }

      .cardFavButton {
        margin-left: auto;
        margin-right: 10px;
        background-color: #00000000;
        border: 0;
        cursor: pointer;
      }
    }
  }
}

.cardSkeleton {
  padding: 15px;
  height: 420px;
  background-color: #ffffff;

  .cardContentSkeleton {
    display: flex;
  }

  .cardContentSkeleton span:last-child {
    margin-left: auto;
    margin-right: 0px;
  }

  .cardButtonSkeleton {
    display: flex;
  }

  .cardButtonSkeleton span:last-child {
    margin-left: auto;
    margin-right: 0px;
  }
}


