.AccessoriesInfo {
  width: 100%;
  min-height: 700px;
  background-image: url('../../../../public/accessoriesBcgr.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 60px;

  h2 {
    color: #000000;
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-bottom: 20px;
    span {
      font-weight: 500;
    }
  }

  .logo {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-image: url('../../../../public/logo2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .visibleLogo {
    animation-name: pulse;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes pulse {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.9);
    }
  }

  .link {
    text-decoration: none;
  }
}

@media (max-width: 1300px) {
  .AccessoriesInfo {
    min-height: 600px;
    background-image: url('../../../../public/accessoriesBcgr1300.jpg');
    margin-bottom: 0;

    h2 {
      font-size: 25px;
      span {
        font-weight: 500;
      }
    }

    .logo {
      width: 150px;
      height: 150px;
      margin-top: 10px;
    }
  }
}

@media (max-width: 768px) {
  .AccessoriesInfo {
    min-height: 600px;
    background-image: url('../../../../public/accessoriesBcgr768.jpg');
    margin-bottom: 0;

    h2 {
      font-size: 25px;
      span {
        font-weight: 500;
      }
    }

    .logo {
      width: 150px;
      height: 150px;
      margin-top: 30px;
    }
  }
}
