.title {
  background-image: url(../../../public/Bcgr_wishlist.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 30px;
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;

  h2 {
    color: #000000;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding-top: 15px;
  }

  p {
    padding-bottom: 400px;
  }
}
