.container {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 50px;
  margin-top: 100px;
}

.info {
  margin-top: 20px;

  span {
    text-transform: uppercase;
    font-weight: 600;
  }
}

@media (max-width: 1300px) {

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .info {
    margin-top: 20px;

    span {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

