// main-color: #8007a5;
// background-color: #f7f7f7;
// background-text-color: whitesmoke;
.price-table {
    width:100%;
    border-collapse:collapse;
    margin-bottom: 24;

    thread {
      background: #8007a5;  
      color:whitesmoke;
      font-weight: lighter;
    }
    tr {
        height: 35px;
        }
    tbody {
        color:#8007a5;   
        text-align: center;
        td:nth-child(1){
            text-align:left;
        }
        tr:nth-child(even){
            background: #f7f7f7;
        }
        button{
            width:20px;
            height: 20px;
            padding: 0;
        }
        .count{
            display: inline-block;
            min-width: 30px;
        }


    }
}