.tradeInSec {
  font-family: 'montserrat', sans-serif;
  width: 100%;
  height: 300px;
  display: flex;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;

  .leftSide {
    width: 360px;
    height: 300px;
    background-image: url('../../../../public/TradeIn_L.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: 0;
    background-color: #ffffff;
  }

  .rightSide {
    width: 360px;
    height: 300px;
    background-image: url('../../../../public/TradeIn_R.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: 0;
  }

  .infoTxt {
    h2 {
      text-align: center;
      color: #000000;
    }

    span {
      font-style: italic;
      font-weight: bold;
    }
  }
}

@media (max-width: 1300px) {
  .tradeInSec {
    .leftSide {
      background-image: url('../../../../public/TradeIn_L1300.jpg');
    }

    .rightSide {
      background-image: url('../../../../public/TradeIn_R1300.jpg');
    }

    .infoTxt {
      h2 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .tradeInSec {
    height: 167px;
    margin-top: 40px;
    margin-bottom: 40px;

    .leftSide {
      background-image: url('../../../../public/TradeIn_L768.jpg');
      height: 167px;
    }

    .rightSide {
      background-image: url('../../../../public/TradeIn_R768.jpg');
      height: 167px;
    }

    .infoTxt {
      h2 {
        font-size: 13px;
      }
    }
  }
}

.visibleInfo {
  animation: slideInfoUp 3s ease-out;
}

@keyframes slideInfoUp {
  0% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(0);
  }
}

.visibleLeft {
  animation: slideInLeft 4s ease-out;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0);
  }
}

.visibleRight {
  animation: slideInRight 3s ease-out;
}

@keyframes slideInRight {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0);
  }
}
