* {
  font-family: Montserrat, sans-serif;
}

.checkbox {
  display: flex;
  flex-direction: column;
}

.href > span > a {
  text-decoration: none;
  color: black;
}

.accordion {
  max-width: 100%;
}