.root {
  margin-left: auto;
  margin-right: 20px;
  padding-top: 72px;
}

.link {
  margin-right: 10px;
  width: 35px;
  height: 35px;
}

.icon {
  width: 35px;
  height: 35px;
  color: #ffffff;
}

.badge {
  color: white;
}
